@font-face {
    font-family: iransans;
    src: url(fonts/5c53f1a72f61b5b51e2ea79a22ebc38b.woff);
}

:root {
    --blueLight: #009ef7;
    --green: #50cd89;
    --redLight: #f1416c;
    --grayLight: #8b8b8b;
    --white: #ffff;
}

* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f1f0f0;
    box-sizing: border-box;
    font-family: iransans;
}

/*SECTION 1*/
#searching {
    margin-right: 15em;
}

.dashMenu {
    width: 1000px;
    background-color: #ffff;
}

.hiddenmenu {
    /* padding: 0.5em 1em 0.5em 5em; */
    border-radius: 10px;
    background: #ebecef79;
}

.condash {
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.helpings {
    background-color: #ffff;
    padding: 10px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.dashboardTitle {
    padding: 0.7em;
    background: #e5e6e979;
    border-radius: 10px;
}

.hiddenmenuVisible:hover {
    /* padding: 0.5em 1em 0.5em 5em; */
    border-radius: 10px;
    background: #ebecef79;
}

#bell,
#slack,
#online,
#btnI,
#chart,
#bascket,
#projectD,
#shapes {
    font-size: 20px;
}

#shapes {
    color: #009ef7;

}

#slack {
    color: rgb(250, 93, 93);

}

#chart {
    color: #414654;
}

#bascket {
    color: rgb(250, 93, 93);
}

#projectD {
    color: rgb(193, 95, 218);
}

#online {
    color: #50cd89;
}

#bell {
    color: #009ef7;
}

#btnI {
    color: rgb(245, 245, 76);
}

.appMenu {
    background: #ffff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0.5em 0.5em 0.5em 0.5em;

}


.menuApp {
    background: #ffff;
    position: absolute;
    right: 11.5em;
    top: 1.3em;
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* visibility: hidden; */
    transition: 0.3s;
    /* display: none; */
}

.proje {
    position: relative;

}

.proje .menuApp {
    /* visibility: visible; */
}

/*==============================================*/


/* header START */

.menu-title:hover.menu-sub-lg-down-accordion {
    /* visibility: visible; */
    display: block;
}

.pages-sub-menu {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 11px;
}

.pages:hover .pages-sub-menu {
    display: block;
}

.col-lg-8 {
    /* display: contents; */
}

.mw-100 {
    max-width: 100% !important;
}

.image-44 {
    width: 312px;
    height: 212px;
}

.img-84 {
    width: 399px;
    height: 342px;
}

.img-82 {
    width: 320px;
    height: 320px;
}

.img-46 {
    width: 342px;
    height: 228px;
}

.nav-item .nav-link:hover:not(.disabled) {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #009ef7;
    transition: color 0.2s ease;
}

.nav-line-tabs .nav-item .nav-link {
    color: #99a1b7;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: color 0.2s ease;
    padding: 0.5rem 0;
    margin: 0 1rem;
}

.nav-stretch .nav-link {
    display: flex;
    align-items: center;
}

.menu-rounded .menu-link {
    border-radius: 0.75rem;
}

.menu-item .menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;

    flex: 0 0 100%;
    padding: 0.65rem 1rem;
    transition: none;
    outline: none !important;
}

.fs-lg-4 {
    font-size: 1.25rem !important;
}

.fw-bold {
    font-weight: 600 !important;
}

.fs-6 {
    font-size: 1.075rem !important;
}

.ms-4 {
    margin-right: 1rem !important;
}

.mb-3 {
    margin-bottom: 0.75rem !important;
}

.application-sub-menu {
    display: none;
    position: absolute;
    z-index: 2;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 0);
    margin-left: calc(-0.5 * 1.5rem);
    margin-right: calc(-0.5 * 1.5rem);
}

.row>* {
    flex-shrink: 0;
    /* width: 100%; */
    /* max-width: 100%; */
    padding-left: calc(1.5rem * 0.5);
    padding-right: calc(1.5rem * 0.5);
    margin-top: 0;
}

.w-lg-500px {
    padding: 0 0px 0px 40px;
}

.w-lg-600px {
    padding: 0 0px 0px 40px;
}

.application:hover .application-sub-menu {
    display: block;
}

.help-sub-menu {
    display: none;
    position: absolute;
    z-index: 2;
}

.help:hover .help-sub-menu {
    display: block;
}

.menu-extended {
    position: absolute;
    display: none;
    z-index: 2;
}

.dashboard {
    width: fit-content;
}

.dashboard:hover .menu-extended {
    display: block;
}

.menu-link:hover {}

.menu-state-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
    color: #009ef7;
}

.menu-title-gray-700 .menu-item .menu-link .menu-title {
    color: #4b5675;
    opacity: 0.8;
}

.h-25px {
    height: 25px;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.mb-lg-0 {
    margin-bottom: 0 !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.header-extended .header .header-tabs .nav-link.active {
    background-color: #ffffff;
}

.header .header-tabs .nav-link {
    border: 0;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    color: #c8e3ff;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    margin-left: 0.25rem;
}

.menu-arrow-gray-400>.dashboard,
.pages,
.application,
.help {
    padding-left: 44px;
}

.menu-arrow-gray-400 {
    display: flex;
}

/* header END */
.w-md-375px {
    visibility: hidden;
}

.w-lg-325px {
    visibility: hidden;
}

.w-150px {
    visibility: hidden;
}

.w-275px {
    visibility: hidden;
}

.h-xl-100 {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    border-color: #f1f1f2;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
    font-size: 0.95rem !important;
    font-weight: 400;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    /* padding: 0 2.25rem; */
}

.card-title {
    font-weight: 500;
    font-size: 1.275rem;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.card-label {
    margin: 0 0 0 0.75rem;
}

.text-muted {
    color: #99a1b7;
}

.card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: stretch;
    padding: 2rem 0.25rem 26px 15px;
}

.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.75rem;
}

.text-hover-primary:hover {
    transition: color 0.2s ease;
    color: #009ef7 !important;
}

.h-xl-100 {
    background-color: #ffffff;
}

.card-header {
    background-color: white;
}

/* Trends css START */

.symbol-label {
    width: 50px;
    height: 50px;
    display: flex;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

.flex-row-fluid {
    flex: 1 auto;
    min-width: 0;
}

.me-2 {
    margin-left: 0.5rem !important;
}

.badge-light {
    color: #78829d;
    background-color: #f9f9f9;
}

.me-5 {
    margin-right: 1.25rem !important;
}

.symbol-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #252f4a;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.75rem;
}

.text-gray-800 {
    color: #252f4a;
}

.fw-bold {
    font-weight: 600 !important;
}

.fs-6 {
    font-size: 14px !important;
}

/* Trends css END */
/* Sale statistics START */

.fs-7 {
    font-size: 11px;
    opacity: 0.6;
}

.pt-5 {
    padding-top: 1rem !important;
}

.fs-3 {
    font-size: 18px !important;
}

.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
}

.pt-5 {
    padding-top: 1.25rem !important;
}

.mt-5 {
    margin-top: 1.25rem !important;
}

.mb-10 {
    margin-bottom: 2.5rem !important;
}

.fs-4 {
    font-size: 18px !important;
}

/* Sale statistics icon STRAT */
.la-layer-group {
    color: #f1416c !important;
    background-color: #fff5f8;
}

.me-3 {
    font-size: 32px;
    margin-left: 0.75rem !important;
}

.la-fill-drip {
    color: #7239ea;
}

.la-barcode {
    color: #009ef7;
}

.la-shopping-basket {
    color: #50cd89;
}

/* Sale statistics icon END */
/* Sale statistics sub menu START */
.menu-sub-dropdown {
    /* display: none; */
}

/* .menu-sub-dropdown {
    z-index: 107;
    position: fixed;
    inset: 0px 0px auto auto;
    margin: 0px;
    /* transform: translate3d(-350.08px, -28.8px, 0px); 
  } */
.menu-sub-dropdown.menu.show,
.menu-sub-dropdown.show {
    display: flex;
    will-change: transform;
    animation: menu-sub-dropdown-animation-fade-in 0.3s ease 1,
        menu-sub-dropdown-animation-move-up 0.3s ease 1;
}

.menu-sub-dropdown {
    /* display: none; */
    border-radius: 0.75rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    z-index: 107;
}

.px-7 {
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}

.text-dark {
    color: #071437 !important;
}

.fs-5 {
    font-size: 1.15rem !important;
}

.border-gray-200 {
    border-color: #f1f1f2 !important;
}

.separator {
    display: block;
    height: 0;
    border-bottom: 1px solid #f1f1f2;
}

.form-label {
    font-size: 1.05rem;

    color: #252f4a;
}

.label {
    display: inline-block;
}

.form-select.form-select-solid {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    color: #4b5675;
    transition: color 0.2s ease;
}

.form-select.form-select-solid {
    transition: color 0.2s ease;
}

.form-select[multiple] {
    background-image: none;
}

.form-select {
    appearance: none;
}

.form-select {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-position: left 1rem center;
    background-size: 16px 12px;
    border-radius: 0.75rem;
}

.select2-hidden-accessible {
    background-image: url(image/download.png);
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

select {
    word-wrap: normal;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.menu-item {}

.menu {
    /* position: absolute;
    top: 61px; */
}

.trend {
    position: absolute;
    top: 99px;
}

.card-p {
    position: relative;
}

.hidden {
    display: none;
}

.main-trend-sub-menu {
    width: 200px;
    height: 250px;
}

.trends {
    position: absolute;
    left: 190px;
    top: 0;
}

.main-sale-statistics-sub-menu {
    width: 200px;
    height: 270px;
}

.main-sale-statistics-sub-menu>.menu-item {
    padding-top: 15px;
}

.sale-statistics-sub {
    position: absolute;
    left: 185px;
    top: 0;
}

.main-trend-sub-menu>.menu-item {
    padding: 15px 0 0 0;
}

.px-3 {
    color: #252f4a;
}

.px-3:hover {
    color: #009ef7;
}

.sale-statistics-sub {
    transition: all 400ms ease;
    visibility: hidden;
    width: 180px;
}

.sale-statistics-sub div {
    padding: 8px 0 0 0;
}

.trends {
    visibility: hidden;
    transition: all 400ms ease;
    width: 180px;
}

.trends div {
    padding: 8px 0 0 0;
}

.sharing:hover .sale-statistics-sub {
    visibility: visible;
}

.sharing:hover .trends {
    visibility: visible;
}

/* Sale statistics sub menu END */

/* Filter settings sub menu START*/
.filter-settings {
    width: 313px;
    left: 0;
}

.membership-type label {
    padding: 0px 0px 0 59px;
}

.btn-active-light-primary {
    border-radius: 10px;
}

/* Filter settings sub menu END */

/* Sale statistics END */
/* first Sale statistics START */

.mt-n20 {
    margin-top: -5rem !important;
}

.card-p {
    padding: 2rem 2.25rem !important;
}

.position-relative {
    position: relative !important;
}

.p-0 {
    padding: 0 !important;
}

.card-body {
    flex: 1 1 auto;
}

.bg-light-warning {
    background-color: #fff8dd !important;
}

.py-8 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.me-7 {
    margin-left: 1.75rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

element.style {}

.text-warning {
    color: #ffc700 !important;
}

.text-warning {}

.fs-2x {
    font-size: calc(1.325rem + 0.9vw) !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    width: 2rem;
}

.ki-duotone,
.ki-outline,
.ki-solid {
    line-height: 1;
}

.ki-duotone {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    position: relative;
    display: inline-flex;
    direction: ltr;
}

.bg-light-primary {
    background-color: #f1faff !important;
}

.mb-7 {
    margin-bottom: 1.75rem !important;
}

.bg-light-danger {
    background-color: #fff5f8 !important;
}

.bg-light-success {
    background-color: #e8fff3 !important;
}

.rounded-2 {
    display: flex !important;
    flex-wrap: wrap;
    align-items: flex-end;
}

.m-2 {
    width: 112px;
}

/* first Sale statistics END */
/*SECTION 1*/

.container2 {
    max-width: 1200px;
    padding: 1em;
    margin: auto;
}

.task-boxies {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 2em;

}

.card {
    margin: 0.5em;
    text-align: right;
    flex-grow: 1;
    flex-basis: 160px;
    background-color: var(--white);
    padding: 0.5rem 2rem;
    border-radius: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.card:nth-child(2) {
    background-image: url(icons/immd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 120px 120px;
    background-origin: border-box;
}

.card:nth-child(1),
.card:nth-child(3) {
    background-image: url(icons/imdd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    background-size: 120px 120px;
}

.card span {
    color: var(--blueLight);
    font-size: 14px;
    font-weight: 600;
}

.card h2 {
    font-size: 1.3em;
    color: var(--grayLight);
    transition: 0.5s;
    cursor: pointer;
}

.card h2:hover {
    color: var(--blueLight);
}

.card p {
    font-size: 0.9em;
}

.container3 {
    padding: 1em;
    font-family: iransans;
    max-width: 1200px;
    margin: auto;
}


.activities-box {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
}

.container3 {
    margin-bottom: 2em;
}

.active-part {
    margin: 0.5em;
    text-align: right;
    flex-grow: 1;
    flex-basis: 160px;
    background-color: var(--white);
    padding: 0.5rem 2rem;
    border-radius: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.header-card .right-header h3 {
    margin-bottom: -6px;
    margin-top: 0;
}

.header-card {
    position: relative;
    width: 100%;
    padding-top: 1em;
}

.header-card .right-header span {
    font-size: 0.8em;
    color: var(--grayLight);
    margin-bottom: 0;
}

.active-part .header-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.header-card .left-header {
    margin-bottom: 0;
}

.left-header button {
    border: none;
    border-radius: 0.6em;
    background-color: var(--white);
    transition: 0.2s;
}

.left-header button:hover {
    background-color: #dfeff890;
}

.left-header button i {
    padding: 10px 8px;
    color: var(--blueLight);
}

.main-card {
    margin-top: 1.8rem;

}

.main-box {
    display: inline-flex;
    margin-left: 1em;
}

.main-box i {
    margin-left: 0.6em;
    padding: 0.8em;
    border-radius: 0.6em;
}

.main-box .text h5 {
    margin-top: -1.7em;
    color: var(--grayLight);
}

.comisiyon i {
    color: var(--redLight);
    background-color: #f1416d12;
}

.writer i {
    color: #7239ea;
    background-color: #7139ea11;
}

.timePrice i {
    color: var(--blueLight);
    background-color: #009cf718;
}

.averageSuggestion i {
    color: var(--green);
    background-color: #50cd8816;
}

.main-box {
    align-items: center;
}

.bottom-Body-card {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.bottom-Body-card:before {
    content: "";
    position: absolute;
    right: 51px;
    width: 3px;
    top: 0;
    bottom: 0;
    background-color: #99a1b736;
}

.bottom-Body-card .timeline-item {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.bottom-Body-card p {
    color: var(--grayLight);
    font-size: 0.8em;
    margin-right: 0.9em;
}

.time {
    display: flex;
    margin-top: 1em;
}

.time i {
    margin-right: 0.3em;
}

.fa1 i {
    color: #ffc700;
}

.fa2 i {
    color: var(--green);
}

.fa3 i {
    color: var(--redLight);
}

.fa4 i {
    color: var(--blueLight);
}

.fa5 i {
    color: var(--redLight);
}

.fa6 i {
    color: var(--green);

}

.active-part:nth-child(1) h3 {
    color: var(--white);
}

.active-part:nth-child(1) {
    background-color: var(--blueLight);
}

.active-part:nth-child(1) #btn {
    background-color: var(--blueLight);
}

.active-part:nth-child(1) i {
    color: var(--white);
}

.main-text {
    text-align: center;
    color: #f1f0f0;
    margin-top: 1.5em;
}

.main-text h2 {
    margin-top: -0.7em;
}

.body-card-grow {
    background-color: var(--white);
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 8px;
    padding: 1em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7 {

    margin-bottom: -1.5em;
    margin-left: 3em;
}

.g8 {
    margin-left: 3em;

}

.grow-content:nth-child(1) i {
    color: #b4b4b4;
    background-color: rgba(194, 194, 194, 0.144);
}

.main-box:nth-child(2):hover h4 {
    color: #009ef7;
    transition: 0.3s;
}

.apexcharts-xaxistooltip {
    display: none;
}

/* اعداد پایین */
.apexcharts-xaxis-texts-g {
    display: none;
}

/* خط های پایین */
.apexcharts-inner line {
    display: none;
}

.apexcharts-inner line:nth-of-type(1),
.apexcharts-inner line:nth-of-type(2) {
    display: flex !important;
    visibility: hidden;
}

#myjsChart {
    margin-top: 1.7em;
    margin-bottom: -3.7em;
    margin-left: -2.8em;
    margin-right: -3.5em;
}

button {
    cursor: pointer;
    position: relative;
}

/* dorp menu of section 4 css code  START */
.menu-sub-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 189px;
    height: 223px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    position: absolute;
    right: -56px;
    padding: 1em;
    background-color: var(--white);
    box-shadow: 0px 0px 50px 20px rgba(82, 63, 105, 0.15);
    border-radius: 0.75rem;
    font-size: 14px;
    text-decoration: none;
    visibility: hidden;
    transition: 1s;

}

.menu-sub-dropdown .menu-sub-dropdown a {
    color: #252f4a;
    text-align: right;
}

.menu-sub-dropdown>span:first-of-type {
    opacity: 0.45;
    font-size: 0.95rem;
    color: #252f4a;
}

.information-circle:hover::before {
    content: "یک نام هدف را برای استفاده و" " مرجع در آینده مشخص کنید";
    display: flex;
    height: 43px;
    font-size: 11px;
    z-index: 2;
    position: absolute;
    background-color: #f2e3e3;
    border-radius: 10px;
    left: 24px;
    text-align: center;
    margin: -20px 0px;
    width: 218px;
}

.menu-sub-dropdown-seconditem {
    display: flex;
}

.menu-sub-dropdown-seconditem>a:first-of-type {
    padding-left: 80px;
}

.menu-sub-dropdown-fouritem-links {
    display: none;
    position: absolute;
    background: var(--white);
    left: 200px;
    bottom: 50px;
    box-shadow: 0px 0px 20px 15px rgba(82, 63, 105, 0.15);
    border-radius: 15px;
}

.menu-sub-dropdown-fouritem-links ul {
    padding: 0 0 0 0;
}

.menu-sub-dropdown-fouritem:hover .menu-sub-dropdown-fouritem-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0 13px 0px 0;
    align-content: flex-end;
    width: 158px;
    list-style-type: none;
    text-decoration: none;
    height: 180px;
}

.svg-icon {
    padding: 0 118px 0px 0px;
}

.status-checkbox {
    padding-bottom: 10px;
}

.status-checkbox::after {
    content: "";
    position: absolute;
    opacity: 0.1;
    right: 0;
    bottom: 44px;
    width: 170px;
    border: 1px solid black !important;
}

#btn:hover .menu-sub-dropdown {
    visibility: visible;
}

/*SECTION 4*/
a {
    color: black;
}

li {
    list-style-type: none;
}


.section-four {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: fit-content;
    flex-wrap: nowrap;
    margin: 0 auto;
}

/* fiels css code START */
.bi-grid {
    color: #f1416c;
}

/* fiels toolbar and submenu css code START */
.fiels-toolbar {
    background-color: white;
    position: relative;
}

.fiels-toolbar:hover {
    background-color: #009ef7;
}

.fiels-toolbar button {
    border: none;
}

/*fiels toolbar css code END*/
.svg-icon {
    color: #009ef7;
}

.bi-stack {
    color: #ffc700;
}

.bi-briefcase {
    color: #7239ea;
}

.fa-basket-shopping {
    color: #50cd89;
}

table {
    vertical-align: middle;
    /* padding-right: 90px; */
}

table * {
    /* padding: 10px; */
}

.fiels {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 600px;
}

.fiels-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0px 2.25rem;
    background-color: transparent;
    /* width: 755px; */
    align-content: center;
}

.fiels-title {
    display: flex;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
}

.fiels-title>p {
    font-size: 1.35rem;
    margin: 0;
}

.fiels-title>span {
    font-size: 0.95rem;
    opacity: 0.5;
}

.fiels-body {}

tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    /* width:777px; */
}

td {
    font-weight: 600;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.fiels-second-column a:hover {
    color: #009ef7;
}

.fiels-second-column {
    margin-left: 0.7rem;
}

.fiels-thrid-column {
    opacity: 0.55;
}

.fiels-four-column {
    opacity: 0.55;
}

.fiels-first-column svg {
    padding: 0;
}

.fiels-first-column {}

.fiels-table * {
    padding: 11px 11px 11px 17px;
}

/* fiels css code   END */
.table-type * {
    padding: 6px 3px 3px 3px;
}

.table-type svg:hover {
    color: #009ef7;
}

.table-type svg {
    background-color: #c0ccd337;
    padding: 12px;
    border-radius: 12px;
}

.boy-18 {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.girl-7 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.girl-25 {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.income-writers {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 600px;
    height: 477px;
    padding: 1em;
    margin-left: 1em;
}

.income-writers-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.income-writers-header p {
    font-weight: 600;
    margin: 0;
}

.income-writers-header span {
    opacity: 0.4;
}

.income-writers-header div {
    width: 150px;
}

.income-writers-header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.income-writers-second-column a:hover {
    color: #009ef7;
}

.income-writers-second-column a,
span {
    padding: 0;
    margin: 0;
}

.income-writers-second-column span {
    padding: 0;
    margin: 0;
    opacity: 0.45;
}

.income-writers-second-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0 28px 0 46px;
    font-size: 14px;
}

.income-writers-third-column span:first-of-type {
    font-size: 0.75rem;
    opacity: 0.45;
}

.income-writers-third-column {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding: 0 28px 0 46px;
}

.income-writers-four-column {
    padding: 0 28px 0 46px;
}

.firt-percent {
    color: #f1416c;
}

.second-percent {
    color: #50cd89;
}

.third-percent {
    color: #7239ea;
}

.four-percent {
    color: #009ef7;
}

/* dorp menu of section 4 css code  START */
.menu-sub-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 189px;
    height: 223px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    position: absolute;
    right: -56px;
    z-index: 1;
    padding: 8px 25px 15px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px 20px rgba(82, 63, 105, 0.15);
    border-radius: 0.75rem;
    font-size: 14px;
}

.menu-sub-dropdown a {
    color: #252f4a;
}

.menu-sub-dropdown>span:first-of-type {
    opacity: 0.45;
    font-size: 0.95rem;
    color: #252f4a;
}

.information-circle:hover::before {
    content: "یک نام هدف را برای استفاده و" " مرجع در آینده مشخص کنید";
    display: flex;

    height: 43px;
    font-size: 11px;
    z-index: 2;
    position: absolute;
    background-color: #f2e3e3;
    border-radius: 10px;
    left: 24px;
    text-align: center;
    margin: -20px 0px;
    width: 218px;
}

.menu-sub-dropdown-seconditem {
    display: flex;
}

.menu-sub-dropdown-seconditem>a:first-of-type {
    padding-left: 80px;
}

.menu-sub-dropdown {}

.menu-sub-dropdown-fouritem-links {
    display: none;
    position: absolute;
    background: #fffefe;
    left: 200px;
    bottom: 50px;
    box-shadow: 0px 0px 20px 15px rgba(82, 63, 105, 0.15);
    border-radius: 15px;
}

.menu-sub-dropdown-fouritem-links ul {
    padding: 0 0 0 0;
}

.menu-sub-dropdown-fouritem-links {}

.menu-sub-dropdown-fouritem:hover .menu-sub-dropdown-fouritem-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0 13px 0px 0;
    align-content: flex-start;
    width: 158px;
    height: 180px;
}

.svg-icon {
    padding: 0 118px 0px 0px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.active-btn {
    background: #dbdfe9;
    padding: 2px 20px;
    border-radius: 10px;
}

.status-checkbox {
    padding-bottom: 10px;
}

.status-checkbox::after {
    content: "";
    position: absolute;
    opacity: 0.1;
    right: 0;
    bottom: 44px;
    width: 170px;
    border: 1px solid black !important;
}

/* dorp menu of section 4 css code  END */
@media only screen and (max-width: 900px) {
    .section-four {
        flex-direction: column;
    }
}

/*SECTION 4*/

/*FOOTER*/
/* properties header tagvim footer [start] */
#header-tagvim {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 0px; */
    /* margin-top: 160px;  */
    margin-top: 2em;
}

/* properties container header tagvim footer [start] */
#container-header-tagvim {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    background-color: #fdfdfd;
    width: 1090px;
    border-radius: 5px 5px 0px 0px;
    /* border:  2px solid red; */
}

/* properties h-ha-headertagvim footer [start] */
.h-ha-headertagvim {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h-ha-headertagvim>span:first-of-type {
    font-size: 20px;
    font-weight: bold;
}

.h-ha-headertagvim>span:last-of-type {
    color: #99a1b7;
    font-weight: 500;
    font-size: 0.95rem;
}

/* properties h-ha-headertagvim footer [end] */


/* properties button modereat tagvim header footer [start] */
.modereat-tagvim>a {
    padding: 10px 20px 10px 20px;
    color: white;
    background: #009ef7;
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
}

/* properties button modereat tagvim header footer [end] */
/* properties container header tagvim footer [end] */
/* properties header tagvim footer [end] */

/* properties calender [start] */
#calendar {
    max-width: 1155px;
    margin: 0 auto;
    margin-top: 1px;
    margin-bottom: 25px;
    background-color: #fdfdfd;
    border: 29px solid white;
    border-radius: 5px;
}

/* properties header tagvin [start] */
.fc-header-toolbar {
    display: flex;
    flex-direction: row-reverse;
}

/* properties header tagvin [end] */

/* properties kol button ha header tavim [start] */
.fc .fc-button {
    padding: 0.75rem 1.25rem;
    box-shadow: none;
    border: 0;
    border-radius: 0.75rem;
    vertical-align: middle;
    font-weight: 500;
}

/* properties color button ha header tagvim [start] */
.fc .fc-button-primary {
    background-color: #fffffff5;
    color: #78899d;
}

/* peroperties hover click button ha header tagvim [start] */
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #ececed;
    color: #071437;
}

/* peroperties hover click button ha header tagvim [end] */

/* footer properties code [start] */
#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* properties footer container [start] */
#container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 800px;
    width: 1200px;
}

/* footer-left properties code [start] */
#footer-left>ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

#footer-left>ul>li {
    padding: 0.65rem 1rem;
}

#footer-left>ul>li>a:hover {
    color: rgb(47, 47, 233);
}

/* footer-left properties code [end] */

/* footer-right properties code [start] */
#footer-right>a {
    float: left;
    padding-right: 8px;
    font-weight: 500;
    color: #071437;
}

#footer-right>a:hover {
    color: rgb(47, 47, 233);
}

#footer-right>span {
    margin: 0px;
    opacity: 0.5;
    font-weight: 500;
}

/* footer-right properties code [end] */
/* properties footer container [end] */
/* footer properties code [end] */

/*FOOTER*/